.img-center {
    display: flex;
    margin: 20px auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 400px;
    transition: transform 0.2s ease;
}
    

body{
    background-image: url('background.jpg');
    background-position: -80px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-style:double;
    height: 670px;
}

.contador {
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    color: blueviolet;
}

.botao {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}